.header {
  font-size: 0;
  background-image: url("../assets/header.jpg");
  background-size: cover;
  border-top: 15px solid #2ecc71; }
  .header .content {
    position: relative;
    height: 70%;
    text-align: center; }
    @media (min-width: 992px) {
      .header .content {
        height: 100%;
        text-align: right; } }
  .header .content-info {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .header .content-info p {
      color: white; }
      @media (min-width: 992px) {
        .header .content-info p {
          padding-left: 120px; } }
  .header p {
    font-size: 16px; }

.redes {
  padding: 0; }
  .redes li {
    display: inline-block;
    margin-right: 20px; }
  .redes li:hover {
    opacity: 0.5; }
  .redes .windows-icon {
    margin-right: 0; }

.hand-image {
  position: relative;
  text-align: center; }
  @media (min-width: 992px) {
    .hand-image {
      text-align: left; } }
  .hand-image img {
    width: 200px; }
    @media (min-width: 992px) {
      .hand-image img {
        width: 439px;
        position: absolute;
        bottom: 0;
        left: 20px; } }

.content_page_services {
  margin: 40px 0 20px 0; }

.content_page_services .container-image {
  width: 60px;
  height: 60px;
  background-color: #2ecc71;
  margin: 0 auto;
  text-align: center;
  border-radius: 100%; }

.content_page_services .container-image img {
  width: 35px;
  position: relative;
  top: 12px; }

.content_page_services h4 {
  text-align: center;
  margin: 20px 0 15px 0;
  font-size: 16px;
  font-weight: 900; }

.content_page_services p {
  text-align: center;
  padding: 0 20px; }

.container_video input[type="email"] {
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  height: 40px; }

.container_video input[type="submit"] {
  background-color: #2ecc71;
  color: white;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  padding: 0 20px;
  height: 40px;
  position: relative;
  right: 9px;
  top: 1px; }

.container_video {
  background-color: lightgray; }

.container_video .container {
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.gris {
  color: #9c9c9c; }

.font-size-small {
  font-size: 12px; }
