.container_video
    .container
        .row
            .container_video_form.col-xs-12.col-lg-6
                h4 Get Notified Of Any Updates!
                p.gris.font-size-small Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatum quibusdam id doloribus, maxime earum similique, aut odit in, pariatur neque rerum soluta fuga et hic corrupti non aliquid fugiat?
                form(action="")
                    input(placeholder="Email Adress" type="email" name="" id="")
                    input(type="submit" value="Notify")
            .container_video_vimeo.col-xs-12.col-lg-6
                    iframe(src="https://player.vimeo.com/video/244665000" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)