.container.content_page
    .row.content_page_services
        .col-xs-12.col-lg-4
            .container-image
                img(src="assets/engrane.svg", alt="")
            h4 tool
            p.gris.font-size-small Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam veniam sit architecto commodi dicta! Ipsa in molestiae consequatur ratione sapiente eius, assumenda aspernatur asperiores tenetur sed, repellendus voluptates! Neque, beatae.
        .col-xs-12.col-lg-4
            .container-image
                img(src="assets/board.svg", alt="") 
            h4 star
            p.gris.font-size-small Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quis magni modi nihil minima excepturi nisi facere amet, voluptas asperiores aliquid dolorem vel quos blanditiis repellat ullam ducimus quas. Ad.
        .col-xs-12.col-lg-4
            .container-image
                img(src="assets/star.svg", alt="") 
            h4 star
            p.gris.font-size-small Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quis magni modi nihil minima excepturi nisi facere amet, voluptas asperiores aliquid dolorem vel quos blanditiis repellat ullam ducimus quas. Ad.     