header.header.container-fluid
    .row
        .content.col-xs-12.col-lg-6
            .content-info
                .logo
                    img(src="assets/logo.png", alt="")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem recusandae odit voluptate ducimus quam est molestias repellendus deserunt odio veritatis! Perferendis iure quidem officia vitae non eaque saepe unde consequatur?
                ul.redes
                    li
                        a(href="#")
                            img(src="assets/android_ico.png", alt="")
                    li
                        a(href="#")
                            img(src="assets/apple_ico.png", alt="")
                    li.windows-icon
                        a(href="#")
                            img(src="assets/windows_ico.png", alt="")
        .hand-image.col-xs-12.col-lg-6
            img(src="assets/hand.png", alt="hand")