.header {
  font-size: 0;
  background-image: url("assets/header.jpg");
  background-size: cover;
  border-top: 15px solid #2ecc71; }
  .header .content {
    position: relative;
    height: 70%;
    text-align: center; }
    @media (min-width: 992px) {
      .header .content {
        height: 100%;
        text-align: right; } }
  .header .content-info {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .header .content-info p {
      color: white; }
      @media (min-width: 992px) {
        .header .content-info p {
          padding-left: 120px; } }
  .header p {
    font-size: 16px; }

.redes {
  padding: 0; }
  .redes li {
    display: inline-block;
    margin-right: 20px; }
  .redes li:hover {
    opacity: 0.5; }
  .redes .windows-icon {
    margin-right: 0; }

.hand-image {
  position: relative;
  text-align: center; }
  @media (min-width: 992px) {
    .hand-image {
      text-align: left; } }
  .hand-image img {
    width: 200px; }
    @media (min-width: 992px) {
      .hand-image img {
        width: 439px;
        position: absolute;
        bottom: 0;
        left: 20px; } }
